@using WebBanHang.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh mục các sản phẩm</h2>

<p>
    <a asp-action="ThemSanPhamMoi">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                Tên sản phẩm
            </th>
            <th>
                Thời gian bảo hành
            </th>
            <th>
                Giá lớn nhất
            </th>
            <th>
                Giá nhỏ nhất
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-danger";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-danger";
            if(i%2==0)
            {
                cls = "table-success";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhoNhat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new {page = page}), new PagedListRenderOptions()
{
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
})

